      
.header__parallax:after{
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, transparent 0%, $black 100%);
    margin-top: -500px;
    height: 500px;
    width: 100%;
    content: '';
}
.header__slogan{
    position: absolute;
    width: 90vw;
    bottom:5em;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
    max-width: $max-content-width;
    h3{
        text-align: center;
        bottom: 0;
        color: $white; 
        font-size: 1.5em;
        line-height: 1.5em;
    }
}