.loading-spinner{
    font-size: 10em;
    animation: rotate 3s linear infinite;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform :rotate(360deg);
    }
}