.button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
    background: #fff;
    font-size: 3em;
    display: flex;
    align-items: center;
    // justify-content: space-around;
}
.button--back{
    position: fixed;
    right: 5rem;
    top: 0.5rem;
    padding-left: 15px;
}