.loading-spinner{
    font-size: 10rem;
    animation: rotate 1.25s linear infinite;
    position: absolute;
    z-index: 1;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    color: $blue;
}

.loading-background{
    width: 100vw;
    height: 100vh;
    background: $black;
    position: fixed;
    z-index: 7;
}