@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform :rotate(360deg);
    }
}

@keyframes rollIn{
    0%{
        top: -100%;
    }
    100%{
        top: 0;
    }
}


@keyframes fadeIn{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        display: none;
    }
}