/* --- START transitions --- */

$fast : 0.25s;
$normal: 0.5s;
$slow: 0.75s;

/* --- END transitions --- */

/* --- START breakpoints --- */

$small-device : 50em;
$medium-device : 100em;
$large-devide: 150em;


/* --- END breakpoints --- */

/* --- START colors --- */

$blue : #0066ff;
$black : #000;
$white: #fff;

/* --- END colors --- */

/* --- START box-shadow --- */

$button-shadow : 1px 4px 5px rgba(0,0,0,0.25);

/* --- END box-shadow --- */

/* --- START content width --- */

$max-content-width : 1200px;

/* --- START content width --- */